### Test files ###
test.*

### Userdata folder ###
userdata/**

### Modules folder ###
modules/**

### Config files ###
config.cfm
.cfconfig.json
.env
server.json

### API file ###
api/taffy/dashboard
api/taffy/examples

### Log files ###
*.log