### Test files ###
www/test.*

### Userdata folder ###
www/userdata

### Config files ###
### Log files ###
logs/*
filebrowser.db
config.cfm
.env

### Log files ###
www/logs
.history

### NGINX configs ###
config/nginx/conf.d/*.conf