.planDescription ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.planDescription ul li {
	position: relative;
	padding-left: 25px;
}

.planDescription ul li::before {
	content: "\2713";
	font-family: "Bootstrap Icons";
	position: absolute;
	left: 0;
	color: green;
}
